<div class="container-fluid" style="height:90px; padding: 0;">
    <a href="https://www.barnesandnoble.com/w/james-percival-everett/1143678734?ean=9780385550369">
        <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/global/global-nav-banner/2024/11/31093_Global%20Nav%20Banner_Book%20of%20the%20Year%20Winner_11_15_24_desktop.jpg" alt="Alternate Text" style="width: 100%; height: 100%; object-fit: cover;" />
    </a>
</div>
