<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<nav class="navbar bg-body-tertiary w-100 py-0 px-0">
    <div class="container-fluid row d-flex align-items-cente px-0">
        <a class="navbar-brand col-2">BARNER & NOBLE</a>
        <!-- Sử dụng ms-auto để đẩy form sang bên phải và nằm gần icon giỏ hàng -->
        <form class="d-flex me-3 col-6" role="search">
            <input class="form-control" style="width:700px" type="search" placeholder="Search" aria-label="Search">
            <button style="background-color:#3E5962; color:white" class="px-3" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <a href="/shoping/carts" class="ms-5 me-5  col-1 btn" style="width: 50px; text-align: center; display: flex; justify-content: center; align-items: center;">
            <i class="bi bi-cart-plus" style="font-size: 2em;"></i>
        </a>
    </div>
</nav>
