<nav class="navbar navbar-expand-lg py-0 bg-body-tertiary w-100">
    <div class="container-fluid ps-0">
        <div class=" collapse navbar-collapse" id="navbarText">
            <ul class=" navbar-nav mx-auto ps-0 mb-2 mb-lg-0 d-flex justify-content-between w-100 ">
                <li class="nav-item first-item">
                    <a class="nav-link active text-dark" aria-current="page" href="#">Books  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Fiction  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Nonfiction  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">eBooks  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Audibooks  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Teens & YA  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Kids  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Toy & Games  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Stationery & Gifts  |   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Music & Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-nav .first-item {
        margin-left: 0;
        padding-left: 0;
    }
</style>
